<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <h2>Edit <%= resource_name.to_s.humanize %></h2><br>

    <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= f.error_notification %>

      <div class="form-inputs">
        <%= f.input :name, required: true, autofocus: true, input_html: { class: 'form-control' } %><br>
        <%= f.input :email, required: true, autofocus: true, input_html: { class: 'form-control' } %><br>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p><br>
        <% end %>

        <%= f.input :password, autocomplete: "off", hint: "leave it blank if you don't want to change it", required: false, input_html: { class: 'form-control' } %><br>
        <%= f.input :password_confirmation, required: false, input_html: { class: 'form-control' } %><br>
        <%= f.input :current_password, hint: "we need your current password to confirm your changes", required: true, input_html: { class: 'form-control' } %><br>
      </div>

      <div class="form-actions">
        <%= f.button :submit, "Update", input_html: { class: 'form-control' } %>
      </div><br>
    <% end %>

    <!-- <h3>Cancel my account</h3><br> -->

    <!-- <p>Unhappy? <%= link_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, input_html: { class: 'form-control' } %></p><br> -->

    <h3><%= link_to "Back", :back %></h3>
  </div>
</div>
